<form action="/customer/<%= @customer.id %>" method="post">
  
  <label for="name">Full name:</label>
  <input type="text" id="name" name="name" value="<%= @customer.name %>">


  <input type="submit" value= "Update customer">


</form>