<form action="/pizzas" method="POST">

  <label for="customers">Customer</label>
  <select name="customer_id" id="customers">
    <% for customer in @customers%>
    <option value="<%= customer.id.to_i() %>"><%= customer.name%></option>
    <% end %>
  </select>

  <label for="pizza-select">Select a pizza:</label>
  <select name="topping" id="pizza-select">
    <option value="Pepperoni">Pepperoni</option>
    <option value="Hawaiian">Hawaiian</option>
    <option value="whomp-rat">whomp-rat</option>
  </select>

  <label for="quantity">Quantity</label>
  <input type="number" id="quantity" name="quantity">

  <input type="submit" value="Order Pizza">
</form>